{%extends 'base.html'%}

{%block title%}Home{%endblock%}

{%block content%}

<h1>Almacen</h1>
{%if session['user']%}
<p>Welcome {{session['user']}}</p>
<div class="container">
    <div class="container">
        <h4>Menu</h4>
        <a class="btn btn-primary" href="{{url_for('items',method='all')}}">Items</a>
        <a class="btn btn-primary" href="{{url_for('add_item')}}">Add Item</a>
        <a class="btn btn-dark" href="{{url_for('logout')}}">Logout</a>
    </div>
</div>

{%else%}
<p>Indentify Yourself:</p>
<a href="{{url_for('login')}}" class="btn btn-dark">Login</a>
{%endif%}

{%endblock%}